In [1]:
x = [1,2,3,4]
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [2]:
out = [item**2 for item in x ]
out

[1, 4, 9, 16]

In [3]:
double = lambda x:x*2
double(5)

10

In [6]:
result = list(map(lambda var: var*2,x))

In [7]:
result

[2, 4, 6, 8]

In [9]:
df.T.apply(lambda x: x.nunique(), axis=1)

AttributeError: 'list' object has no attribute 'T'

In [10]:
#Filter
result = list(filter(lambda x: x>2,x))
result

[3, 4]

In [13]:
list(filter(lambda x : x>2,x))

[3, 4]

In [14]:
import numpy as np

In [15]:
#stop点不会出现,等差数列
np.arange(3,7,2)

array([3, 5])

In [17]:
#np.linspace(start,stop,num)
np.linspace(2.0,3.0,5)

array([2.  , 2.25, 2.5 , 2.75, 3.  ])

concat在表格下面或旁边追加一个或多个DataFrame(取决于自己如何定义轴)  
https://mmbiz.qpic.cn/mmbiz_png/53QBo8fgmuEhqhic11K3ad2Ca7p0w9kY6RJDT2LbN2TJ8HiaNKjjCuK237ialZK5I4ExgZrIIrMdz8sH6AhiaGfe4g/640?wx_fmt=png&wxfrom=5&wx_lazy=1&wx_co=1![image.png]

Merge将多个DataFrame合并指定主键（Key）相同的行。  
https://mmbiz.qpic.cn/mmbiz_png/53QBo8fgmuEhqhic11K3ad2Ca7p0w9kY6cicJxrz1CTqB6ia5kuEyzMTzWLZZGbg8duugAvGvib1GqH4cE9uUN1SSQ/640?wx_fmt=png&wxfrom=5&wx_lazy=1&wx_co=1![image.png](attachment:image.png)

Join，和Merge一样，合并了两个DataFrame。 但它不按某个指定的主键合并，而是根据相同的列名或行名合并。
https://mmbiz.qpic.cn/mmbiz_png/53QBo8fgmuEhqhic11K3ad2Ca7p0w9kY69nJgY4Oiau7RsJAZicU1GXHcSERSqGfMqeAozkKETPR8V1drdtfIssDQ/640?wx_fmt=png&wxfrom=5&wx_lazy=1&wx_co=1![image.png](attachment:image.png)

In [19]:
import pandas as pd
df = pd.DataFrame([[4,9],]*3,columns=['A','B'])

In [20]:
df

   A  B
0  4  9
1  4  9
2  4  9

In [21]:
df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [22]:
df.apply(np.sum,axis=0)

A    12
B    27
dtype: int64

In [23]:
df.apply(np.sum,axis=1)

0    13
1    13
2    13
dtype: int64

In [24]:
#pd.pivot_table(df,index=["Manager","Rep"],values=["Price"])